player-connection-mode=Listen
player-connection-guid=3955128784
player-connection-debug=0
player-connection-project-name=CarRacingML
player-connection-ip=192.168.1.69
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=2f11228e4d67480589d056077eb1f338
