player-connection-mode=Listen
player-connection-guid=3403752367
player-connection-debug=0
player-connection-project-name=CarRacingML
player-connection-ip=10.68.253.252
player-connection-ip=172.17.0.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=f95b1527c331449fa2908bddcdb08012
